html{
    font-family: 'Roboto', sans-serif;
}

body{
    min-height: 100vh;
}

.image-container{
    height: 100%;
}

.main{
    max-width: 120rem;
    padding: 2rem 0;
}

.hero, .services, .menu{
    display: grid;
    width: 90%;
    margin: 0 auto;
}

.menu-title, .services-title{
    text-align: center;
}

/*------ HERO ------*/

.hero{
    padding: 0 10%;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 4rem;
    box-shadow: 0 10px 6px -11px rgba(0,0,0,0.75);
}

.hero__text-container{
    align-self: center;
}

.hero__title{
    margin: 0 0 2rem;
    font-size: 2.8rem;
}

.hero__text{
    font-size: 1.4rem;
    margin-bottom: 2.8rem;
}

.hero__button{
    width: max-content;
    text-align: center;
    padding: .4rem 1.6rem;
    border: none;
    border-radius: 1.2rem;
    color: white;
    font-weight: bolder;
    background-color: orange;
}

/*----- SERVICES -----*/

.services-title{
    font-size: 2.4rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.services{
    grid-template-areas:
    "a a b c"
    "a a d e";
    gap: 1.8rem;
    place-items: center;
    margin-bottom: 4rem;
}

.image-container--services1{
    grid-area: a;
}
.image-container--services2{
    grid-area: b;
}
.image-container--services3{
    grid-area: c;
}
.image-container--services4{
    grid-area: d;
}
.image-container--services5{
    grid-area: e;
}

/*------ MENU ------*/

.menu-title{
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 2rem;

}

.menu{
    grid-template-columns: repeat(5, 1fr);
    column-gap: 1rem;
}

.image-container--menu{
    background-color: pink;
}