html{
    font-family: 'Roboto', sans-serif;
}

body{
    min-height: 100vh;
}

.image-container{
    height: 100%;
}

.main{
    margin: 0 auto;
    max-width: 120rem;
    padding: 0 0 2rem;
}

.hero, .services, .menu{
    display: grid;
    width: 90%;
    margin: 0 auto;
}

.menu-title, .services-title{
    text-align: center;
}

/*------ HERO ------*/

.hero{
    padding: 2rem 10%;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom:4rem;
    box-shadow: 0 10px 6px -11px rgba(0,0,0,0.75);
}

.hero__text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__title{
    margin: 0 0 2rem;
    font-size: 2.8rem;
}

.hero__text{
    font-size: 1.4rem;
    margin-bottom: 2.8rem;
}

.hero__button{
    width: max-content;
    text-align: center;
    padding: .4rem 1.6rem;
    border: none;
    border-radius: 1.2rem;
    color: white;
    font-weight: bolder;
    background-color: orange;
}

/*----- SERVICES -----*/

.services-title{
    font-size: 2.4rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.services{
    grid-template:
    "a a b c"
    "a a d e" ;
    grid-auto-rows: 1fr;
    gap: 1.8rem;
    place-content: center;
    margin-bottom: 4rem;
}

.image-container--services1{
    grid-area: a;
}
.image-container--services2{
    grid-area: b;
}
.image-container--services3{
    grid-area: c;
}
.image-container--services4{
    grid-area: d;
}
.image-container--services5{
    grid-area: e;
}
/*------ MENU ------*/

.menu-title{
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.menu{
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1rem;
}

.image-container--menu{
    border-radius: .4rem;
    background-color: pink;
    cursor: pointer;
}

.image-container--menu:hover{
    background-color: lightpink;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
}

@media screen and (max-width: 728px){
    html{
        font-size: 90%;
    }
    .hero{
        box-shadow: inset 50vw 0px 300px rgba(0,0,0,0.5) ;
        min-height: 50vh;
        grid-template-columns: 1fr;
        background: url("https://i.postimg.cc/zD21m9fG/hero.png") 150px/cover no-repeat;
    }
    .image-container--hero, .hero__img{
        display: none;
    }
    .hero__text-container{
        color: white;
    }
    .hero__text{
        width: 50%;
    }
    .services{
        grid-template-areas: 
        ". a a ."
        ". a a ."
        ". b c ."
        ". d e .";
    }
}